---
import Layout from '../layouts/Layout.astro';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import ProductListFilters from '../components/products/productListFilters';

---
<Layout title="Venta de Garaje">
	<main>
    <Navbar />
    <div class="container mt-5">
      <ProductListFilters title="Listado de productos" />
      <Footer />
    </div>
	</main>
</Layout>
