---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import ProductListFilters from '../components/products/productListFilters';

---

<script>
  function toggleHeart(e) {
    e.target.classList.toggle('fas');
    e.target.classList.toggle('far');
    e.target.classList.toggle('text-danger');
  }
</script>

<Layout title="Venta de Garaje">
	<main>
    <Navbar />
    <div class="container mt-5">
      <ProductListFilters title="Listado de productos" />
      <Footer />
    </div>
	</main>
</Layout>
